<!doctype html>  
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/nivo-slider.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script src="js/jquery.nivo.slider.pack.js"></script>
 <script>
    $(window).load(function() {
        $('#slider').nivoSlider({
            directionNav:false
        });
        });
    </script> 
</head>

<body>

  <div id="wrapper">
    <!-- Page Content -->
			
			｛tag_pagecontent}
			
			<!-- End Page Content -->
  </div> <!--! end of #wrapper -->

  
 
</body>
</html>
